// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.photos {
  display: flex;

  .photo-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      margin: 8px;
    }
  }
}
